<div id="sidebar" class="sidebar">
  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">
    <!-- end sidebar user -->
    <!-- begin sidebar nav -->
    <ul class="nav">
      <% if current_user  %>
        <li class="nav-header">Navigation</li>
        <li class="has-sub  <%= 'active' if @section == 'current_user'%>">
          <a href="javascript:;">
            <b class="caret pull-right"></b>
            <i class="fa fa-user"></i>
            <span>Current user profile</span>
          </a>
          <ul class="sub-menu">
            <li class="<%= 'active' if  @section == 'current_user' &&  params[:model_name] == 'user' %>"><a href="<%= main_app.fowarder_path fowarder: {action: 'show',model_name: 'user', id: current_user.id, section: 'current_user', subsection: 'main'}%>">Profile</a></li>
          </ul>
        </li>
        <li class="has-sub  <%= 'active' if @section == 'instagram_items'%>">
          <a href="javascript:;">
            <b class="caret pull-right"></b>
            <i class="fa fa-location-arrow"></i>
            <span>Instagram Items</span>
          </a>
          <ul class="sub-menu">
            <li class="<%= 'active' if  @section == 'instagram_items' &&  params[:model_name] == 'instagram_item' %>"><a href="<%= main_app.fowarder_path fowarder: {action: 'index',model_name: 'instagram_item', section: 'instagram_items', subsection: 'main'}%>">Instagram Items</a></li>
            <li class="<%= 'active' if  @section == 'instagram_items' &&  params[:model_name] == 'instagram_item' %>"><a href="<%= main_app.foursquare_locations_request_location_url(section: 'instagram_items', subsection: 'main')%>">Create Instagram Item</a></li>

          </ul>
        </li>
      <% end %>

      <% unless signed_in? %>
        <li class="<%='active' if controller_name == 'sessions' %>">
          <a href="<%= main_app.new_user_session_path %>"><i class="fa fa-sign-in"></i> Login </i></a>
        </li>
        <li class="<%='active' if controller_name == 'sessions' %>">
          <a href="<%= main_app.new_user_registration_path %>"><i class="fa fa-user-plus"></i> Sign up </i></a>
        </li>
      <% end %>

      <!-- begin sidebar minify button -->
      <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
      <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
